Source: pxdiff
Section: misc
Priority: optional
Maintainer: Uwe Steinmann <steinm@debian.org>
Build-Depends: debhelper (>> 4.0.0), pxlib-dev (>= 0.4.3), intltool (>= 0.18), docbook-to-man
Standards-Version: 3.6.1

Package: pxdiff
Architecture: any
Depends: ${shlibs:Depends}
Description: calculates difference between two Paradox databases
 Compares two Paradox databases and outputs the result in a diff
 like format. Both the table structure and the records are being
 compared. Record comparison will take only place if the table
 structure does not differ.
